/* inicio css da tabela */

* {
    font-family: 'Poppins';
}

body {
    margin: 100px;
    padding: 0px;
    background: whitesmoke;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px blue;
}

.content-table thead tr {
    background-color: blue;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid blue;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: cornflowerblue;
}


/* final css da tabela */


/* inicio do css do button */

.button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: blue;
    border-radius: 10px;
    border: 3px solid #fff;
    border-width: 3px 3px 3px 3px;
    padding: 8px 10px 7px 10px;
    box-shadow: inset 0px 1px 3px blue, inset 0px -1px 3px blue, 0px 3px 6px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 800px;
    top: 430px;
}

.button>div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 0px 0px
}

.button>i {
    color: #fff;
    font-size: 1em;
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: static
}

.button>.ld {
    font-size: initial
}


/* final css do button */